body {
  margin: 0px;
}

.header {
  height: 59px;
  background-color: #F1F1F1;
  border: 1px solid #E5E5E5;
}

.left-controls {

}

.left-controls div {
  float: left;
  display: inline-block;
  margin: 12px 0px 0px 15px;
}

.logo {
  width: 100px;
}

.form {

}

.user-menu {
  float: right;
}

.user-menu div {
  padding: 0px 5px 0px 5px;
  display: inline-block;
  vertical-align: middle;
}

#username, #menu {
  color: gray;
}

#userpic {
  border-radius: 50%;
}

#search-field {
  width: 600px;
  height: 32px;
  border: 1px solid #E5E5E5;
  padding: 0px 5px 0px 5px;
  font-size: 13pt;
}

#search-button {
  background-color: #118fff;
  border-radius: 0px 5px 5px 0px;
  border: none;
  font-size: 13pt;
  color: white;
  height: 32px;
  width: 70px;
  padding: 0px 5px 0px 5px;
}

.header-main {
  height: 50px;
  border: 1px solid #EBEBEB;
}

.header-main a {
  display: inline-block;
  text-decoration: none;
  color: gray;
  padding: 13px;
  vertical-align: middle;
  height: 100%;
  box-sizing: border-box;
}

.main div {
  display: inline-block;
}

.blank-left {
  width: 130px;
  height: 30px;
  float: left;
}

.main {
  min-width: 800px;
}

.search-results > p {
  padding: 0px 5px 0px 5px;
  margin: 25px 5px 25px 5px;
  font-size: 13pt;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px; /* Поля вокруг текста */
  background: #eee; /* Цвет фона */
  color: #fff; /* Цвет текста */
  width: 100%; /* Ширина слоя */
}
